#commandmentsp
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected
        .box--middle 
            | Pillar I:
            br
            | Nbake
    #bx2v.box.box-2v.box-2--selected
        .box--middle 
            | Pillar II:
            br
            | Topseed
    #bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Pillar III:
            br
            | META

    ol.step.step3
        li#a1.t--selected #{t1s}
        li#a2.t--selected #{t2s}
        li#a3.t--selected #{t3s}
        li#a4.t--selected #{t4s}
        li#a5.t--selected #{t5s}
        li#a6.t--selected #{t6s}
        li#a7.t--selected #{t7s}
        li#a8.t--selected #{t8s}
        li#a9.t--selected #{t9s}
        li#a10.t--selected #{t10s}

script.
    var animateCommandments = true;
    function commandmentsLoaded(){
        if (animateCommandments)
        {
            console.log('topicsLoaded')
           
            var tl = new TimelineMax();
            tl[5] = tl;
            var bx1 = $('#commandmentsp #bx1v'); bx2 = $('#commandmentsp #bx2v'); bx3 = $('#commandmentsp #bx3v');                 

            tl.to(bx1, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn});
            tl.to(bx1, 1, {opacity:100, ease:Power1.easeIn}, 0);
            tl.from(bx1, 1, {scale:.93, ease:Power1.easeIn}, 0);
            tl.call(function() {bx1.addClass("mui--z4");}, null, null, 0);
            tl.to(bx2, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 2);
            tl.to(bx2, 1, {opacity:100, ease:Power2.easeIn}, 2);
            tl.from(bx2, 1, {scale:.93, ease:Power1.easeIn}, 2);
            tl.call(function() {bx2.addClass("mui--z4");}, null, null, 2);
            tl.to(bx3, 1, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 4);
            tl.to(bx3, 1, {opacity:100, ease:Power1.easeIn}, 4);
            tl.from(bx3, 1, {scale:.93, ease:Power1.easeIn}, 4);
            tl.call(function() {bx3.addClass("mui--z4");}, null, null, 4);
            tl.play();
        }
    }
    function page5Setup(animate){
        animateCommandments = animate;
        if (animateCommandments)
        {
            $('#commandmentsp .box').css('opacity',0);
            $('#commandmentsp .box').css('filter', 'grayscale(100%)');
            $('#commandmentsp .box').css('-webkit-filter', 'grayscale(100%)');
            $('#commandmentsp .box').removeClass("mui--z4");
        }    
    } 
