#topic9p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected.mui--z1
        .box--middle 
            //-| Pillar I:
            //-br
            | Nbake
    #bx2v.box.box-2v.box-2--selected.mui--z1
        .box--middle 
            //-| Pillar II:
            //-br
            | Topseed
    #bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Pillar III:
            br
            | META

    ol.step.step3
        li#a1 #{t1s}
        li#a2 #{t2s}
        li#a3 #{t3s}
        li#a4 #{t4}
        li#a5 #{t5s}
        li#a6 #{t6s}
        li#a7 #{t7s}
        li#a8.t--selected #{t8s}
        li#a9 #{t9summary}
        li#a10 #{t10}

script.
    function topic9Loaded(){
        var bx1 = $('#topic9p #bx1v')
        bx1.css('opacity', 1);
        bx1.css('filter', 'grayscale(0%)');
        var bx2 = $('#topic9p #bx2v')
        bx2.css('opacity', 1);
        bx2.css('filter', 'grayscale(0%)');
        var bx3 = $('#topic9p #bx3v')

        var a1 = $('#topic9p #a8');
        var a2 = $('#topic9p #a9');

        if (animate)
        {
            var tl = new TimelineMax();
            tl.to(a1, 1, {css: {className:'-=t--selected'}}, 1); 
            tl.to(bx3, 1.5, {'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)',ease:Power1.easeIn}, 2);
            tl.to(bx3, 1.5, {opacity:100, ease:Power2.easeIn}, 2);
            tl.from(bx3, 1.5, {scale:.93, ease:Power1.easeIn}, 2);
            tl.call(function() {bx3.addClass("mui--z2");}, null, null, 2);
            tl.to(a2, 1.5, {css: {className:'+=t--selected'}, ease:Power2.easeIn}, 3.5); 
            tl.play();
        }
        else
        {
           a1.removeClass("t--selected"); 
           a2.addClass("t--selected"); 
        }
    }
    function topic9Setup(){
        if (animate)
        {
            $('#topic9p .box').css('opacity',0);
            $('#topic9p .box').css('filter', 'grayscale(100%)');
            $('#topic9p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topic9p .box').removeClass("mui--z4");
        }    
    } 
