#topic8p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected.mui--z1
        .box--middle 
            //-| Pillar I:
            //-br
            | Nbake
    #bx2v.box.box-2v.box-2--selected.mui--z2
        .box--middle 
            //-| Pillar II:
            //-br
            | Topseed
    //-#bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Pillar III:
            br
            | META

    ol.step.step3
        li#a1 #{t1s}
        li#a2 #{t2s}
        li#a3 #{t3s}
        li#a4 #{t4s}
        li#a5d #{t5s}
        li#a6 #{t6s}
        li#a7.t--selected #{t7summary}
        li#a8 #{t8summary}
    //-ul.step.step3     
        li#a9 Web Components
        li#a10 #{t10}        

script.
    function topic8Loaded(){
        var bx1 = $('#topic8p #bx1v')
        bx1.css('opacity', 1);
        bx1.css('filter', 'grayscale(0%)');
        var bx2 = $('#topic8p #bx2v')
        bx2.css('opacity', 1);
        bx2.css('filter', 'grayscale(0%)');

        var a1 = $('#topic8p #a7');
        var a2 = $('#topic8p #a8');

        if (animate) {
            var tl = new TimelineMax();
            tl.to(a2, 2, {css: {className:'+=t--selected'}}, 2); 
            tl.to(a1, 2, {css: {className:'-=t--selected'}}, 2); 
            tl.play();
        }
    }
    function topic8Setup(){
        if (animate)
        {
            $('#topic8p .box').css('opacity',0);
            $('#topic8p .box').css('filter', 'grayscale(100%)');
            $('#topic8p .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topic8p .box').removeClass("mui--z4");
        }    
    } 
