#topic1p
    //-.headline(style='top:11.5vw') 3 Easy Steps to Best Practices
    #bx1v.box.box-1v.box-1--selected.mui--z2
        .box--middle 
            | #{m1label}:
            br
            | #{m1}
    //-#bx2v.box.box-2v.box-2--selected
        .box--middle 
            | Pillar II:
            br
            | Topseed
    //-#bx3v.box.box-3v.box-3--selected
        .box--middle 
            | Pillar III:
            br
            | META

    ol.step.step1
        li#a1 #{t1summary}
        li#a2 #{t2}
        li#a3 #{t3}
        li#a3 #{t4}
    //-
        li#a5 selected Hello World
        li#a6 #{t6}
        li#a7 #{t7}
        li#a8 #{t8}
        li#a9 Web Components
        li#a10 #{t10}        

script.
    function topic1Loaded(){

        var bx1 = $('#topic1p #bx1v')
        bx1.css('opacity', 1);
        bx1.css('filter', 'grayscale(0%)');

        var a1 = $('#topic1p #a1');

        if (animate)
        {
            var tl = new TimelineMax();
            tl.to(a1, 2, {css: {className:'+=t--selected'}}); 
            tl.play();
        }
        else
        {
           a1.addClass("t--selected"); 
        }
    }
    function topic1Setup(){
       if (animate)
        {
            $('#topicsp .box').css('opacity',0);
            $('#topicsp .box').css('filter', 'grayscale(100%)');
            $('#topicsp .box').css('-webkit-filter', 'grayscale(100%)');
            $('#topicsp .box').removeClass("mui--z4");
        }    
    } 
